*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family:'Dosis', sans-serif;
}


/*styling for navbar*/

.navbar-light .navbar-toggler{
    border: none;
}
.ml-auto{
    margin-left: auto !important;
    padding-right: 30px;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.mr-auto{
    padding-left: 30px;
}
.navbar{
    position: sticky;
    top: 0.1px;
    z-index: 100;
}
/*end of styling for navbar*/
/*styling for product card*/
.checked {
    color: orange;
  }
  .check{
      color: rgb(204, 137, 12);
  }
  .star-rating span{
      padding-top: 3px;
  }
  .star-rating{
    margin-top: 20px;

  }
  .user{
      margin-top: 20px;
  }
  .user-pic{
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  .user .text{
    padding-top: 8px;
    padding-left: 10px;
}
.whole{
    margin-bottom: 20px;
}
.details #apply{
    border: 1px solid #1AA326;
    background: #1AA326;
    color: white;
    width: 200px;
    margin-top: 6px;
}
.details #add{
    border: 1px solid #1AA326;
    color: #1AA326;
    width: 200px;
    margin-top: 6px;
}
.details #apply:hover{
    background: white;
    border: 1px solid #1AA326;
    color: #1AA326;
}
.details #add:hover{
    border: 1px solid #1AA326;
    background: #1AA326;
    color: white;
}
/*end of styling for product card*/

/*breadcrumb styling*/

 /* Style the list */
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 13px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 

/*end of styling for breadcrumb*/

/*styling for jumbotron*/
.jumbotron{
    width: 82%;
}
@media (max-width:576px){
    .jumbotron{
        width: 100%;
    }
}
/*extra course information*/

@media (max-width:576px){
    .cont .row .col-sm-4{
        margin-bottom: 10px;
    }
}
/*teach on evoke*/
.teach{
    border: 1px solid rgba(165, 162, 162, 0.596);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#inst{
    background: #1AA326;
    color: white;
    width: 200px;
}
#inst:hover{
    background: white;
    color: #1AA326;
    border: 1px solid #1AA326;
    transition: ease-in-out;
}
/*styling for description*/
.desc{
    position: relative;
    left: 15%;
    font-size: 25px;
}

.desc a{
    border: 1px solid rgba(165, 162, 162, 0.596);
    color: #1AA326;
}
@media (max-width:576px){
    .desc{
        text-align: center;
        position: relative;
        left: 0;
    }
}
/*styling for footer*/

#footer-row{
    margin-left: 0px;
    margin-right: 0px;
}
.page-end{
    padding: 50px;
    color:#f0f9ff;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
.page-end .curve{
    position: absolute;
    top: 17%;
    background: #000;
    opacity: 0.2;
    width: 90%;
    height: 38%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.page-end h6{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.page-end ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0;
}
.page-end ul a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.page-end ul:hover{
    opacity: 0.8s;
    color: #eee;
}
.page-end .social{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}
.page-end .social a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #1AA326;
    box-shadow: 0px 0px 0px 1px #1AA326;
    margin: 10px;
    color: #1AA326;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.page-end .social a:hover{
    opacity: 0.9s;
    box-shadow: 0px 1px 3px 2px rgba(225, 225, 225, 0.9);
}
.copyright{
    text-align: center;
    padding-top: 24px;
    font-weight: 500;
    opacity: 16px;
    font-size: 16px;
}
@media (max-width: 767px) {
    .page-end h6{
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .page-end ul{
        text-align: center;
    }
    .social{
        margin: 0 auto;
    }
}
/*end of footer styling*/
/* media queries for footer background images*/
@media (max-width: 500px){
    .page-end{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/teacher2.jpg);
        background-position: center;
        background-size: cover;
    }
    #bot{
        vertical-align: center;
        align-items: center;
        width: 100%;
    }
    #whycol{
        padding-top: 10px;
    }
    #login-signin{
        text-align: center;
        padding-left: 15%;
    }




    #login-signin #login:hover{
        color: white;
        background: #1AA326;
        transition: 0.2s ease-in;
        margin: 0 auto;
    }
    .navbar ul li a:hover{
        color: white;
        background: #1AA326;
        transition: 0.2s ease-in;
    }



    .mr-auto{
        text-align: center;
    }
    .ml-auto{
        text-align: center;
    }
}
@media (min-width: 501px){
    .page-end{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/teacher3.jpg);
        background-position: center;
        background-size: cover;
    }
}
@media (max-width: 1025px){
    .page-end{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/teacher.jpg);
        background-position: center;
        background-size: cover;
    }
}
/*end of media queries for footer background images*/